$window-base-color: $base-highlight-color !default;
$window-body-border-width: 1px !default;
$window-border-width: $panel-frame-border-width !default;
$window-header-border-width: $window-border-width !default;
$window-include-border-management-rules: true !default;
$window-tool-background-image: 'tools/tool-sprites-dark' !default;