$tab-base-color: mix(#fff, $base-highlight-color, 10%) !default;
$tab-base-color-over: mix(#fff, $base-highlight-color, 20%) !default;
$tab-base-color-active: #1194ff !default;

$tab-color: #434343 !default;
$tab-color-active: #ffffff !default;

$tab-background-gradient: matte !default;
$tab-background-gradient-over: matte !default;
$tab-background-gradient-active: matte !default;
$tab-background-gradient-disabled: matte !default;

$tab-border-radius: 0px 0px 0 0 !default;
$tab-border-width: 0px !default;
$tab-inner-border-width: 1 !default;
$tab-border-color: #cccccc !default;

$tab-padding: 8px 12px 6px !default;

$tab-line-height: 16px !default;
$tab-margin: 0 1px 0 0 !default;

$tab-icon-width: 16px !default;
$tab-icon-height: 16px !default;
$tab-icon-spacing: 6px !default;

$tab-text-opacity-disabled: .3 !default;
$tab-closable-icon-width: 12px !default;
$tab-closable-icon-height: 12px !default;
$tab-closable-icon-include-hover-background-position: true !default;
$tab-closable-icon-include-pressed-background-position: true !default;
$tab-closable-icon-opacity-disabled: $tab-text-opacity-disabled !default;
