$button-icon-spacing: 5px !default;
$button-small-font-size: 12px !default;
$button-small-font-weight: bold !default;
$button-small-padding: 5px !default;
$button-small-text-padding: 5px !default;
$button-medium-font-size: 14px !default;
$button-medium-font-weight: bold !default;
$button-medium-text-padding: 10px !default;
$button-large-font-size: 16px !default;
$button-large-font-weight: bold !default;
$button-large-text-padding: 12px !default;

$button-default-base-color: #1194ff !default;
$button-default-base-color-over: mix(#000, $button-default-base-color, 8%) !default;
$button-default-base-color-pressed: mix(#000, $button-default-base-color, 25%) !default;
$button-default-border-color: $base-dark-color !default;

$button-default-color: #fff !default;

$button-include-ui-menu-arrows: true !default;
$button-include-ui-split-arrows: true !default;

$button-small-arrow-width: 21px !default;
$button-small-arrow-height: 18px !default;
$button-medium-arrow-width: 30px !default;
$button-medium-arrow-height: 26px !default;
$button-large-arrow-width: 36px !default;
$button-large-arrow-height: 32px !default;

$button-small-split-width: 23px !default;
$button-small-split-height: 20px !default;
$button-medium-split-width: 32px !default;
$button-medium-split-height: 28px !default;
$button-large-split-width: 38px !default;
$button-large-split-height: 34px !default;

$button-toolbar-border-color: #1194ff !default;

$button-toolbar-background-color: $neutral-light-color !default;
$button-toolbar-background-color-over: mix(#000, $button-toolbar-background-color, 4%) !default;
$button-toolbar-background-color-pressed: mix(#000, $button-toolbar-background-color, 8%) !default;

$button-toolbar-color: #666 !default;

$button-toolbar-plain-border-color: transparent !default;
$button-toolbar-plain-background-color: transparent !default;

$button-small-border-radius: 0px !default;
$button-medium-border-radius: 0px !default;
$button-large-border-radius: 0px !default;

$button-default-background-gradient: 'matte' !default;
$button-default-background-gradient-over: 'matte' !default;
$button-default-background-gradient-pressed: 'matte' !default;
$button-default-background-gradient-disabled: 'matte' !default;

$button-toolbar-background-gradient: 'matte' !default;
$button-toolbar-background-gradient-over: 'matte' !default;
$button-toolbar-background-gradient-pressed: 'matte' !default;
$button-toolbar-background-gradient-disabled: 'matte' !default;

$button-default-border-color: #1194ff !default;
$button-default-border-color-over: #1194ff !default;
$button-default-border-color-focus: #1194ff !default;
$button-default-border-color-pressed: #1194ff !default;
$button-default-border-color-disabled: #1194ff !default;
